@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <img id="bg" src="~/Images/handsVolonteers.png" class="rounded w-100" alt="Responsive image" />

    <div class="row mt-4">
        <div class="col-6 w-100">
            <img src="~/Images/photoMainPer.jpg" class="rounded w-100">
        </div>
        <div class="col-6 w-100">
            <img src="~/Images/photoMainGirl.png" class="rounded w-100">
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 col-md-6">
            <img src="~/Images/photoMainPeople.jpg" class="rounded w-100" />
        </div>
        <div class="col-12 col-md-6 text-center w-100 pt-5 pt-md-3 pt-lg-5">
            <h4>Ви знайдете інформацію.</h4>
            <p>Де шукати найближче укриття у Львові на карті або адресою.</p>
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Shelters", "Shelters")'">
                Укриття та допомога ЗСУ
            </button>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 col-md-6 order-1 order-md-0 text-center w-100 mt-md-3 mt-lg-5 pt-5 pt-md-3 pt-lg-5">
            <h4>Ви знайдете інформацію.</h4>
            <p>Де знаходяться усі пункти прийому біженців у місті Львів.</p>
            <p>У чому різниця між статусом особи, якій надано тимчасовий захист, та статусом біженця.</p>

            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("RecPoint", "RecPoint")'">
                Пункти
            </button>
        </div>
        <div class="col-12 col-md-6 order-0 order-md-1">
            <img src="~/Images/photoMainRatusha.jpg" class="rounded w-100" />
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 col-md-6">
            <img src="~/Images/comeBackAlive.png" class="rounded w-100" />
        </div>
        <div class="col-12 col-md-6 text-center w-100 pt-2 pt-md-3 pt-lg-5">
            <h4>Допомога армії України.</h4>
            <button class="btn btn-primary mt-2 mt-md-4" onclick="location.href='@Url.Action("DonateArmy", "DonateArmy")'">
                Допомога армії
            </button>
        </div>
    </div>

    <div class="container text-center rounded my-4"
         style="background-image: url(https://helpduringthewar.azurewebsites.net/Images/photoMainVolon.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;">
        <div class="justify-content-center row">
            <h2 class="col-12 text-white py-5">
                ВОЛОНТЕРИ
            </h2>
            <h4 class="col-9 text-white py-4">
                Ми створили веб сайт, щоб українці були проінформовані, де у нашому Львові отримати допомогу
            </h4>
            <div class="col-12 pb-5">
                <button class="btn btn-primary" onclick="location.href='@Url.Action("Volunteer", "Volunteer")'">
                    Про нас
                </button>
            </div>
        </div>
    </div>
</div>