@{
    ViewData["Title"] = "Контакти";
}
<div class="container" style="font-family:'Times New Roman', Times, serif; font-size:medium">
    <div class="center-block bg-color-blue rounded w-100 py-5">
        <h1 class="text-center text-light" style="text-shadow: 1px 1px 2px black;">Контакти</h1>
    </div>

    <h4 class="text-center mt-3">Гаряча лінія міста</h4>

    <div class="text-center">
        <a href="tel:+38(032)297-59-11">+38(032)297-59-11</a>
        <span>мобільний для користувачів</span>
        <p><i> Lifecell, Kyivstar, Vodafone</i></p>
        <a href="tel:11-80">11-80</a> - стаціонарний номер
    </div>

    <h3 class="text-center my-5">Телефони гарячої лінії для отримання допомоги по районах Львова</h3>

    <div class="py-3 text-center">
        <h3>Сихівський район</h3>
        <div class="row">
            <div class="col-12 col-md-4 pt-3">
                <div>ЛПК "Житловик-С"</div>
                <a href="tel:+38(032)254-66-56">+38(032)254-66-56</a>
            </div>
            <div class="col-12 col-md-4 pt-3">
                <div>ЛПК "Хуторівка"</div>
                <a href="tel:+38(032)254-66-55">+38(032)254-66-55</a>
            </div>
            <div class="col-12 col-md-4 pt-3">
                <div>ЛПК "Під Зуброю"</div>
                <a href="tel:+38(032)254-66-59">+38(032)254-66-59</a>
            </div>
        </div>
    </div>

    <div class="py-3 text-center">
        <h3 class="text-center">Франківський район</h3>
        <div class="row">
            <div class="col-12 col-md-4 pt-3">
                <div>ЛПК "Магістральне"</div>
                <a href="tel:+38(032)254-66-72">+38(032)254-66-72</a>
            </div>
            <div class="col-12 col-md-4 pt-3">
                <div>ЛПК "Вулецьке"</div>
                <a href="tel:+38(032)254-66-69">+38(032)254-66-69</a>
            </div>
            <div class="col-12 col-md-4 pt-3">
                <div>ЛПК "Аварійна служба Франківського"</div>
                <a href="tel:+38(032)263-25-61">+38(032)263-25-61</a>
            </div>
            <div class="col-12 col-md-4 pt-3">
                <div>ЛПК "Львівський ліхтар"</div>
                <a href="tel:+38(032)254-66-68">+38(032)254-66-68</a>
            </div>
            <div class="col-12 col-md-4 pt-3">
                <div>ЛПК "Південне"</div>
                <a href="tel:+38(032)254-66-73">+38(032)254-66-73</a>
            </div>
        </div>
    </div>

    <div class="py-3 text-center">
        <h3 class="text-center">Галицький район</h3>
        <div class="row">
            <div class="col-12 col-md-4 pt-3">
                <div>ЛПК "Айсберг"</div>
                <a href="tel:+38(032)254-66-43">+38(032)254-66-43</a>
            </div>
            <div class="col-12 col-md-4 pt-3">
                <div>ЛПК "Старий Львів"</div>
                <a href="tel:+38(032)254-66-40">+38(032)254-66-40</a>
            </div>
        </div>
    </div>

    <div class="py-3 text-center">
        <h3 class="text-center">Залізничний район</h3>
        <div class="row">
            <div class="col-12 col-md-4 pt-3">
                <div>ЛПК "Левандівка"</div>
                <a href="tel:+38(032)254-66-64">+38(032)254-66-64</a>
            </div>
            <div class="col-12 col-md-4 pt-3">
                <div>ЛПК "Сигнівка"</div>
                <a href="tel:+38(032)254-66-65">+38(032)254-66-65</a>
            </div>
        </div>
    </div>

    <div class="py-3 text-center">
        <h3 class="text-center">Шевченківський район</h3>
        <div class="row">
            <div class="col-12 col-md-4 pt-3">
                <div>ЛПК "Варшевське-407"</div>
                <a href="tel:+38(032)254-66-79">+38(032)254-66-79</a>
            </div>
            <div class="col-12 col-md-4 pt-3">
                <div>ЛПК "Рясне-402"</div>
                <a href="tel:+38(032)254-66-75">+38(032)254-66-75</a>
            </div>
        </div>
    </div>
</div>