
@{
    ViewData["Title"] = "Допомога ЗСУ";
}

<div class="container" style="font-family:'Times New Roman', Times, serif; font-size:medium">
    <img id="bg" src="~/Images/comeBackAlive.png" class="rounded w-100" alt="Responsive image" />
    <p>
     <h1 style="font-family:'Times New Roman', Times, serif;text-align:center;">
     Допомога армії України: куди можна перерахувати кошти
    </h1>
    </p>
</div>
<div class="container" style="font-family:'Times New Roman', Times, serif; font-size:20px;">
    <p>
        НБУ ухвалив  <a href="https://bank.gov.ua/ua/news/all/natsionalniy-bank-vidkriv-spetsrahunok-dlya-zboru-koshtiv-na-potrebi-armiyi"><b>рішення</b></a> 
        відкрити спеціальний рахунок для збору коштів на підтримку Збройних Сил України.
        Національний банк відкрив спецрахунок для збору коштів на потреби армії 
    </p>
    <p>
      <h3>1. Підтримати армію з картки будь-якого банку:</h3>
    </p>
    <p><b>IBAN</b>: UA223226690000026007300905964</p>
    <p><b>ЄДРПОУ</b>: 39696398</p>
    <p>Або за <a href="https://next.privat24.ua/payments/form/%7B%22token%22:%225e99fe0a-7962-444c-8ee4-dc236efb2aa3%22%7D?lang"><b>прямим посиланням</b></a>.
    </p>
    <p><a href="https://savelife.in.ua/"><b>Отримувач</b>:</a> 
        Благодійна Організація «Міжнародний благодійний фонд «Повернись живим»
       Призначення платежу: Благодійна допомога військовослужбовцям.
   </p>
   </div>
 <div class="container" style="font-family:'Times New Roman', Times, serif; font-size:20px;">
   <p>
      <h4> 📌 <b>Рахунок Bitcoin</b></h4>
      <b>Номер</b>: bc1qkd5az2ml7dk5j5h672yhxmhmxe9tuf97j39fm6
   </p>
   <p>
       <h4>📌 <b>Ethereum Wallet (eth, usdt, usdc)</b></h4>
       0xa1b1bbB8070Df2450810b8eB2425D543cfCeF79b
   </p>
   <p>
       <h4>📌 <b>trc20 Wallet (tether)</b></h4>
       TX9aNri16bSxVYi6oMnKDj5RMKAMBXWzon
   </p>
   <p>
       <h4>📌 <b>Solana Wallet (SOL)</b></h4>
       8icxpGYCoR8SRKqLYsSarcAjBjBPuXAuHkeJjJx5ju7a
   </p>
   <p></p><p></p>
   <p>
       <h3>2. Перекази з-за кордону:</h3>
        <h4>📌 <b>Fondy</b></h4>
       <a href="https://pay.fondy.eu/merchants/56b94a99005dd8b4122d8d336bf1dabf/default/index.html?button=59da139c540533216e39fef311708bed"><b>Fondy.eu</b></a>–
       це найвищий рівень безпеки PCI DSS Level 1.
      Валюта переказу – гривня. Якщо ваша карта в іншій валюті, кошти знімаються по курсу.
      Комісію 2,45% сплачує отримувач.
   </p> 
   <p>
       <h4>📌 <b>SWIFT</b></h4>
     Назва підприємства/company Name МБФ ПОВЕРНИСЬ ЖИВИМ БО CO "INTERNATIONAL CHARITABLE FOUNDATION "COME BACK ALIVE"
   </p>
   <p>
      <b>IBAN Code (Євро)</b>: UA093052990000026004025029786
   </p>
   <p>
      <b>IBAN Code (Долар США)</b>: UA173052990000026009035028620
   </p>
  </div>
 <div class="container" style="font-family:'Times New Roman', Times, serif; font-size:20px;">
   <p>
       <h5>SWIFT code банку/Bank SWIFT Code: </h5>
        PBANUA2XXXX
       <h5>Адреса підприємства/Company address: </h5>
        UA 01054, м.Київ, вул Богдана Хмельницького, 32 кв.41
  
       <h5>Призначення платежу / Purpose of payment:</h5>
      Charitable donation to Ukrainian military
   </p>
 </div>
