<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Благодійна організація</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/js/site.js" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-header pull-left">
                    <img src="..//Images//logoFlag.png" style="width:25px;height:25px;" />

                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                   @* <partial name="_LoginPartial" />*@
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Благодійна організація</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Shelters" asp-action="Shelters">Укриття</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="RecPoint" asp-action="RecPoint">Приймальні пункти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Contacts" asp-action="Contacts">Контакти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Volunteer" asp-action="Volunteer">Волонтери</a>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="DonateArmy" asp-action="DonateArmy">Допомога ЗСУ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer>
        <span class="d-flex justify-content-center bg-dark">
            <a href="https://www.facebook.com/groups/varta1officialgroup"><img id="bg" src="~/Images/facebookLogo.png" alt="Responsive image" style="width:42px;height:42px;" /></a>
            <a href="https://twitter.com/AndriySadovyi"><img id="bg" src="~/Images/twitterLogo.png" alt="Responsive image" style="width:42px;height:42px;" /></a>
            <a href="https://t.me/people_of_action/2153"><img id="bg" src="~/Images/TelegramLogo.png" alt="Responsive image" style="width:42px;height:42px;" /></a>
        </span>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
