
@{
    ViewData["Title"] = "Укриття";
}
<style>
    table, th, td {
  border:1px solid black;
  text-align:center;
}
</style>
<div class="container" style="font-family:'Times New Roman', Times, serif; font-size:medium">
    <div class="center-block bg-color-blue rounded w-100 py-5">
        <h1 class="text-center text-light" style="text-shadow: 1px 1px 2px black;">Приймальні пункти</h1>
    </div>
    <h3 class="text-center my-5">
        Карта з детальною інформацією приймальних пунктів Львова:
    </h3>
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=10bbt3h242SHWu5zBHovI5_HDuhQb_9oD&ehbc=2E312F%22"
            width="100%" height="480"></iframe>
</div>
     
<div class="container" style="font-family:'Times New Roman', Times, serif; font-size:medium">
    <h3 style="font-family:'Times New Roman', Times, serif;text-align:center;">Ми можемо допомогти</h3>
  <p style="font-family:'Times New Roman', Times, serif;text-align:center;">
      Організація <a href="https://www.unitedforukraine.org/hc/uk">'United For Ukraine'</a>
       надає термінову підтримку, гуманітарну допомогу та необхідну інформацію.
  </p>
</div>
<div class="container" style="font-family:'Times New Roman', Times, serif; font-size:medium">
  <h3 style="font-family:'Times New Roman', Times, serif;text-align:center;" >
         У чому різниця між статусом особи, якій надано тимчасовий захист, та статусом біженця: роз'яснення
         </h3>
  <p>Міністерство закордонних справ представило порівняльну таблицю для тих громадян України, 
    які змушені шукати прихисток за кордоном. В таблиці вказані два основних статуси, 
    які можуть бути надані біженцям у Європейському Союзі: статус особи,
    якій надано тимчасовий захист та статус шукача притулку (статус біженця).   
  </p>
 <table>
  <tr>
    <th> </th>
    <th>Статус особи, якій надано тимчасовий захист</th>
    <th>Статус шукача притулку (статус біженця)</th>
  </tr>
  <tr>
    <td>1. Кому надається такий статус?</td>
    <td>
        <p>1. Громадянам України та членам їх сімей</p> 
        <p>2. Особам без громадянства, біженцям та 
        членам їх сімей із третіх країн,які рятуються від війни в Україні </p>
        <p>3. Іноземцям, які постійно проживають в Україні на законних підставах та не 
        можуть безпечно повернутися в країну свого походження</p>
    </td>
    <td>Будь-якій особі, яка рятується від війни або переслідувань</td>
  </tr>
  <tr>
    <td>2. Що треба зробити, щоб його отримати?</td>
    <td>Звернутися за дозволом на проживання до органів влади відповідної країни</td>
    <td>Звернутися з заявою до компетентних органів країни, до якої ви прибули.
        Після цього ними здійснюватиметься спеціальна процедура, що триває до 6 місяців або більше
    </td>
  </tr> 
  <tr>
    <td>3. У якій країні я можу претендувати на такий статус?</td>
    <td>У будь-якій країні ЄС</td>
    <td>Лише в першій країні, кордон якої ви перетнули</td>
  </tr>
  <tr>
    <td>4. Де я можу проживати залежно від статусу?</td>
    <td>
        Вибір місця проживання довільний: житло може бути надано родинами волонтерів,
        громадськими організаціями, державою. Також можна проживати у рідних або знайомих.
        Місце проживання можна змінити у будь-який час (зокрема, переїхати до іншої країни)
    </td>
    <td>
        Лише у визначених державою закладах для розміщення біженців. 
        Змінювати місце проживання не дозволено (залишати країну - також)
    </td>
  </tr>
   <tr>
    <td>5. Як довго я можу перебувати в такому статусі?</td>
    <td>1 рік (до 4 березня 2023 року) з можливістю продовження ще на рік залежно від ситуації в Україні</td>
    <td>Безстроково на час існування підстав його надання</td>
  </tr>
   <tr>
    <td>6. Чи зможу я одразу почати працювати в країні, де шукаю прихистку?</td>
    <td>Так, ви матимете доступ до роботи</td>
    <td>Ні, ви матимете доступ до роботи виключно після отримання статусу біженця (через 6 місяців або більше)</td>
  </tr>
   <tr>
    <td>7. Чи зможуть мої діти навчатися?</td>
    <td colspan="2">Так, діти до 18 років мають право навчатися в закладах освіти</td>
  </tr>
   <tr>
    <td>8. Чи матиму я доступ до соціального забезпечення та медичного обслуговування</td>
    <td colspan="2">Так</td>
  </tr>
   <tr>
    <td>9. Коли я зможу повернутися в Україну?</td>
    <td>У будь-який момент</td>
    <td>
        Після подання заяви про надання статусу біженця ви зобов'язані залишатися в країні, 
        в якій подали заяву, протягом усього часу її розгляду (до 6 місяців або більше)
    </td>
  </tr>
   <tr>
    <td>10. Якщо я не подав (-ла) заяву про надання статусу біженця одразу, то вже й не зможу?</td>
    <td colspan="2">Ні, ви маєте можливість подати таку заяву в будь-який час</td>
  </tr>
</table>
</div>
