
@{
    ViewData["Title"] = "Укриття";
}

<div class="container" style="font-family:'Times New Roman', Times, serif; font-size:medium">
    <div class="center-block bg-color-blue rounded w-100 py-5">
        <h1 class="text-center text-light" style="text-shadow: 1px 1px 2px black;">Укриття</h1>
    </div>
    <h3 class="text-center my-5">
        Карта з детальною інформацією укриттів Львова:
    </h3>
    <iframe src="https://www.google.com/maps/d/embed?mid=1zQa-10_dZW1AvSEkA2v9LkAmQ4nrFIrF&ehbc=2E312F"
            width="100%" height="480"></iframe>
</div>
<div class="container" style="font-family:'Times New Roman', Times, serif; font-size:medium">
    <p>
        На геопорталі Львова оприлюднили близько шести тисяч адрес, де розташовані укриття для населення на випадок надзвичайних ситуацій. 
        На основі цих даних ZAXID.NET створив інтерактивну карту, на якій львів’яни можуть знайти найближче укриття до їхнього дому.
    </p> 
    <p>
        Протягом півроку районні комісії
        <a href="https://zaxid.net/u_lvovi_obstezhili_ukrittya_dlya_naselennya_na_vipadok_nadzvichaynih_situatsiy_n1531414"><b>проводили</b></a>
        обстеження приміщень, які використовуватимуть як укриття у випадку надзвичайних ситуацій. 
        Йдеться переважно про підвали житлових будинків, підземні паркінги та переходи. Такі приміщення мають бути просторі,
        підключені до інженерних мереж: вода, світло, тепло.
    </p>
    <p>
        Сигнал про надзвичайну ситуацію має пролунати через системи оповіщення (гучномовці), інформацію також мали б транслювати по радіо та телебаченню. 
        Мешканцям варто слідувати 
        <a href="https://zaxid.net/shho_robiti_u_razi_viyni_nadzvichaynoyi_situatsiyi_pidgotovka_diyi_rechi_n1535133"><b>інструкціям</b></a>
         , які вони почують, та за потреби ховатись в укриття.
    </p>
    <p>
        Оскільки укриттями є переважно підвали будинків, які у звичайний час є закритими, то у випадку надзвичайної ситуації їх мають 
        відчиняти працівники ЛКП, ОСББ, управляючих компаній. Їжу та інші необхідні речі краще взяти з собою.
    </p>
    <p>
        ДСНС України пояснює, що робити, коли чуєте сирени у місті. У цьому відео все коротко і зрозуміло.
    </p>  
    <p>
        Керівник міського управління з питань надзвичайних ситуацій Віктор Іваніцький розповідав, що за усіма критеріями
        для укриттів підходять майже 6 тис. приміщень у Львові. Оскільки не у кожному житловому будинку є придатний для 
        укриття підвал чи паркінг, то у випадку надзвичайної ситуації мешканці зможуть заховатись у найближчому до їхнього
        дому укритті.
    </p>
</div>
