@{
    ViewData["Title"] = "Home Page";
}

<div>

    <img id="bg" src="~/Images/handsVolonteers.jpeg" class="img-fluid" alt="Responsive image" />

</div>

<br />
<div id="banner" style="overflow: hidden; display: flex; justify-content:space-around;">
    <div class="" style="max-width: 40%; max-height: 20%;">
        <img src="~/Images/photoMainPer.jpg">
    </div><div class="" style="max-width: 40%; max-height: 20%;">
        <img src="~/Images/photoMainGirl.jpg">
    </div>
</div>

<br />
<div class="container">
    <div class="row">
        <div class="col">
            <img id="bg" src="~/Images/photoMainPeople.jpg" class="img-fluid" alt="Responsive image" />
        </div>
        <div class="col" style="background:white;">
            <div class="row">
                текст
            </div>
            <div class="row">
                <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">
                    Укриття
                </button>
            </div>

        </div>
    </div>

</div>

<br />


<div class="container">
    <div class="row">

        <div class="col" style="background:white;">
            <div class="row">
                текст
            </div>
            <div class="row">
                <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">
                    Пункти
                </button>
            </div>
        </div>
        <div class="col">
            <img id="bg" src="~/Images/photoMainRatusha.jpg" class="img-fluid" alt="Responsive image" style="width:100px;height:100px;" />
        </div>
    </div>

</div>
<br />
<div class="container">
    <img src="~/Images/photoMainVolon.jpg" alt="Snow">
    <button class="btn">Про нас</button>
</div>