@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <img id="bg" src="~/Images/handsVolonteers.png" class="img-fluid" alt="Responsive image" />

    <div class="row mt-4">
        <div class="col-6 w-100">
            <img src="~/Images/photoMainPer.jpg">
        </div>
        <div class="col-6 w-100">
            <img src="~/Images/photoMainGirl.png">
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 col-md-6 w-100">
            <img src="~/Images/photoMainPeople.jpg" />
        </div>
        <div class="col-12 col-md-6 text-center w-100 pt-5 pt-md-3 pt-lg-5">
            <h4>Ви знайдете інформацію.</h4>
            <p>Де шукати найближче укриття у Львові на карті або адресою.</p>

            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">
                Укриття
            </button>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 col-md-6 order-1 order-md-0 text-center w-100 mt-md-3 mt-lg-5 pt-5 pt-md-3 pt-lg-5">
            <h4>Ви знайдете інформацію.</h4>
            <p>Де знаходяться усі пункти прийому біженців у місті Львів.</p>

            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">
                Пункти
            </button>
        </div>
        <div class="col-12 col-md-6 order-0 order-md-1 w-100">
            <img src="~/Images/photoMainRatusha.jpg" />
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <img id="bg" src="~/Images/photoMainVolon.png" class="img-fluid pt-4" alt="Responsive image" />
        <button class="position-absolute btn btn-primary" style="bottom: calc(0em + 13px)" asp-controller="Volunteer" asp-action="Volunteer">Про нас</button>
    </div>
</div>