@using Microsoft.AspNetCore.Identity
@using WEB_Basics_Project.Domain

@inject SignInManager<Volunteer> SignInManager

@{
    ViewData["Title"] = "Оголошення";
}

<div class="container" style="font-family:'Times New Roman', Times, serif; font-size:medium">
    @if (SignInManager.IsSignedIn(User))
    {
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Shelters", "Shelters")'">
            Додати оголошення
        </button>
    }
</div>