/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Sticky footer styles-------------------------------------------------- */
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a { /* Provide sufficient contrast against white background */
    color: #0366d6;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.footer {
    position: static;
    bottom: 0;
    width: 100%;
    background: black;
    line-height: 10px; /* Vertically center the text there */
}

.row {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

.col {
    text-align: center;
}

.container {
    position: relative;
    width: 50%;
}

    .container img {
        width: 100%;
        height: auto;
    }

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

table, td, tr .tr_no_border {
    background-color: white;
    border: none;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    padding: 12px 5px;
    cursor: pointer;
}
