@{
    ViewData["Title"] = "Контакти";
}
<div class="row">
    <div class="center-block" style="width:100% ;height:200px; background-color:mediumblue;">
        <h1 style="padding-top: 80px; color: white; text-shadow: 1px 1px 2px black; text-align: center; ">Контакти</h1>
    </div>
</div>

    <div >
        <h4 style="text-align: center">Гаряча лінія міста</h4>
    </div>
    <div style="text-align: center">
        <a href="tel:+38(032)297-59-11">+38(032)297-59-11</a> мобільний для користувачів
        <p><i> Lifecell, Kyivstar, Vodafone</i></p>
        <a href="tel:11-80" style="text-align: center">11-80</a> - стаціонарний номер
    </div>

<br/>
<div class="container">
    <div class="row" style="text-align: center">
        <h3 style="text-align: center">Телефони гарячої лінії для отримання допомоги по районах Львова</h3>
    </div>
</div>
<br />
<div class="container" style="font-family:'Times New Roman', Times, serif; font-size:medium">
    <div class="row">
        Сихівський район
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                ЛПК "Житловик-С"
            </div>
            <div class="row">
                <a href="tel:+38(032)254-66-56">+38(032)254-66-56</a>
            </div>
        </div>
        <div class="col">
            <div class="row">
                ЛПК "Хуторівка"
            </div>
            <div class="row">
                <a href="tel:+38(032)254-66-55">+38(032)254-66-55</a>
            </div>
        </div>
        <div class="col">
            <div class="row">
                ЛПК "Під Зуброю"
            </div>
            <div class="row">
                <a href="tel:+38(032)254-66-59">+38(032)254-66-59</a>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container" style="font-family:'Times New Roman', Times, serif; font-size:medium">
    <div class="row">
        Франківський район
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                ЛПК "Магістральне"
            </div>
            <div class="row">
                <a href="tel:+38(032)254-66-72">+38(032)254-66-72</a>
            </div>
        </div>
        <div class="col">
            <div class="row">
                ЛПК "Вулецьке"
            </div>
            <div class="row">
                <a href="tel:+38(032)254-66-69">+38(032)254-66-69</a>
            </div>
        </div>
        <div class="col">
            <div class="row">
                ЛПК "Аварійна служба Франківського"
            </div>
            <div class="row">
                <a href="tel:+38(032)263-25-61">+38(032)263-25-61</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                ЛПК "Лівівський ліхтар"
            </div>
            <div class="row">
                <a href="tel:+38(032)254-66-68">+38(032)254-66-68</a>
            </div>
        </div>
        <div class="col">
            <div class="row">
                ЛПК "Південне"
            </div>
            <div class="row">
                <a href="tel:+38(032)254-66-73">+38(032)254-66-73</a>
            </div>
        </div>
        <div class="col"/>
    </div>
</div>
<br />
<div class="container" style="font-family:'Times New Roman', Times, serif; font-size:medium">
    <div class="row">
        Галицький район
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                ЛПК "Айсберг"
            </div>
            <div class="row">
                <a href="tel:+38(032)254-66-43">+38(032)254-66-43</a>
            </div>
        </div>
        <div class="col">
            <div class="row">
                ЛПК "Старий Львів"
            </div>
            <div class="row">
                <a href="tel:+38(032)254-66-40">+38(032)254-66-40</a>
            </div>
        </div>
        <div class="col" />
    </div>
 </div>
<br/>
<div class="container" style="font-family:'Times New Roman', Times, serif; font-size:medium">
    <div class="row">
        Залізничний район
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                ЛПК "Левандівка"
            </div>
            <div class="row">
                <a href="tel:+38(032)254-66-64">+38(032)254-66-64</a>
            </div>
        </div>
        <div class="col">
            <div class="row">
                ЛПК "Сигнівка"
            </div>
            <div class="row">
                <a href="tel:+38(032)254-66-65">+38(032)254-66-65</a>
            </div>
        </div>
        <div class="col" />
    </div>
 </div>
<br/>
<div class="container" style="font-family:'Times New Roman', Times, serif; font-size:medium">
    <div class="row">
        Шевченківський район
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                ЛПК "Варшевське-407"
            </div>
            <div class="row">
                <a href="tel:+38(032)254-66-79">+38(032)254-66-79</a>
            </div>
        </div>
        <div class="col">
            <div class="row">
                ЛПК "Рясне-402"
            </div>
            <div class="row">
                <a href="tel:+38(032)254-66-75">+38(032)254-66-75</a>
            </div>
        </div>
        <div class="col"/>
    </div>
</div>


